@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./Fonts/PretendardVariable.woff2') format('woff2-variations');
}

:root {
    --col-blue: #004FFF;
    --col-sky: #4c83ff;
    --col-black: #17191A;
    --col-gray-1: #464a4d;
    --col-gray-2: #757b80;
    --col-white: #FFFFFF;
}

* {
    font-family: 'Pretendard Variable';
}