#promotion {
    display: flex;
    flex-direction: column;
    padding: 120px 20px;
    width: calc(100% - 40px);
    max-width: var(--content-max-width);
}

#promotion .mainText {
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: 700;
    opacity: 0;
    animation: FadeUp 1s .5s;
    animation-fill-mode: forwards;
}

#promotion .subText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    opacity: 0;
    animation: FadeUp 1s .75s;
    animation-fill-mode: forwards;
}

#promotion .subText p {
    margin: 0;
    padding: 0;

}

#promotion .btnWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    opacity: 0;
    animation: FadeUp 1s 1s;
    animation-fill-mode: forwards;
}

@keyframes FadeUp {
    from {
        opacity: 0;
        translate: 0 50%;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}